#wrapper
{
	position:relative;
	min-height: 100%;
}

#body
{
	margin: auto;
	margin-top: 300px;
	width: 700px;
	height 300px;
	margin-bottom: 500 px;
}

#body img
{
	position: relative;
	width: 300px;
	height: 125px;
	margin: 10px 25px 0 250px;;
}

#body form

{
	position: relative;
	margin-left: 300px;
}

#bar
{
	position: relative;
	margin-left: -50px;;
	width: 150px;
	height: 25px;
}

#header
{
	position: static;
	float: right;
	margin-top: -300px;
	decoration: none;
}

#header li
{
	display: inline-block;
	margin-left: 20px;
}

#blue-background
{
	Background-color: blue;
	color: white;
	padding-right: 20px;
	padding-left: 20px;
	padding-top: 5px;
	padding-bottom: 5px;
}

#footer
{
	width:100%;
	height: 50px;
	position:absolute;
	bottom:-500px;
	left:0;
	clear: both;
	Background-color: Gray;
	border: solid;
}

#footer li
{
	display: inline;
	position: relative;
}


#footer ul
{
	display: inline-block;
	position: relative;
	width: 500px;
	right:0;
	bottom: 0;
}

div div #right
{
	display: inline-block;
	position: absolute;
	width: 300px;
	bottom: 0;
	right: 0;
}
